[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
canvasapi = "*"
python-dotenv = "*"
ics = "*"
requests = "*"
arrow = "*"
django = "*"
djangorestframework = "*"
cryptography = "*"
django-allauth = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
